/* css styles */


:root {
  --bs-font-sans-serif: 'Fira Sans', sans-serif;
}

body {
  font-family: 'Fira Sans', Georgia, Serif;
  line-height: 1.5em;
  background-color: #faf8f8;
}

.navbar-logo {
  max-height: 42px;
}

table {
  border-color: gray;
}
td, th {
  background-color: #e5e5e5 !important;
}

img {
  float: left;
  padding-right: 4ex;
}

a {
  text-decoration: none;
}


.imgrow {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

/* Create four equal columns that sits next to each other */
.imgcolumn {
  flex: 25%;
  max-width: 25%;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}

.imgcolumn img {
  margin-top: 0px;
  vertical-align: middle;
}
